.aside {
  background-color: var(--neutral-header);
  max-width: 282px;
  min-height: 100vh;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.footer {
  color: var(--neutral-text);
  font-size: 13px;
  line-height: 120%;
  text-align: center;
}
